#colorbox{
    z-index: 11;
}
input.error{
    border: 1px solid darkred !important;

}

.primary_0{
    border: 0px none !important;
}
.primary_1{
    border: 2px solid green !important;
}

.ace-thumbnails.banners > li {
    width: 100%;
}


.saleImgContainer{
    width: 100%;
}


#bindedProductsList img.productImg{
    height: 100px;
}
.productsInversedList tr td img{
    height: 40px;
}
.productsInversedList tr.added td{
    background: #69AA46 !important;
}

.categoriesTree{
    display: block;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.categoriesTree li{
    width: 100%;
    padding: 5px;
    float: left;
    display: block;
}
/*.categoriesTree li:hover{*/
    /*background: lightgray;*/
/*}*/

.categoriesTree li button{
    float: right;
}

.categoriesTree .main-category-li{
    border: 1px solid #000080;
    padding: 10px 150px 10px 20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    box-sizing: border-box;
}
.categoriesTree .main-category-in{
    background: #bbf7b2;
}

.cat-merge{
    float: left;
}

.cat-img{
width: 150px;
}


.main-new-category-wrapper{
    border: 1px solid;
    border-radius:5px;
    padding: 15px;
    margin-bottom: 20px;
}
.main-new-category-wrapper .title{
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
}
.delimiter{
    padding: 10px 0;
}
.delimiter .title{
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
}

.main-item{
    background: #d9dcde;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}